.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}
.fl {
    float: left;
}
.fr {
    float:right;
}
  /* 字体大小 */
  .f16 {
      font-size: 16px;
  }
  #footer .nav li{
    float: left;
  }
 .f30{
     font-size: 30px;
 }



  /* 字体颜色 */
  .color-655{
      color:#655959;
  }
  .fwhite {
      color: #fff;
  }


  /* 加粗 */
  .fb {
      font-weight: normal;
  }