/* 清除浮动 */
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.clear {
    clear: both;
    height: 0;
}

/* 版心公共类 */
.w1200 {
    width: 1200px;
    margin: 0 auto;
}


/* 浮动 */
.fl {
    float: left;
}

.fr {
    float: right;
}
/* 定位 */

.pr{
    position: relative;
}
.pa{
    position: absolute;
}

/* 隐藏 */
.disBlock{
    display: block !important ;
}
.disNone{
    display: none !important;
}

/* 字体大小 */
.f26{
    font-size: 26px;
    color: #333333;
    line-height: 40px;
}

.f14 {
    color: #333333;
    font-size: 14px;
    font-family: SimHei;
}


/* 公共颜色 */
.color-fee{
    color: #feef00!important;
}
.color26{
    color: #262626;
}
.color-ff2315{
    color: #ff2315;
}

.bgc-f60{
    background: #f60 !important;
}

.bgc-ccc{
    background: #ccc;
}
/* 激活类 */
.active{
    background: #f60 !important;
    color: #fff !important;
}

/* 主要内容 */
/* 推荐 */
.topline{
    font-size: 22px;
    line-height: 34px;
    color: #f60;
}
.line {
    height: 6px;
    background-color: #f60;
}



/* 商品头部tab切换 */
.list-tab{
    float: right;
    margin-left: 4px;
    width: 98px;
    height: 34px;
    position: absolute;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
}
/* 列表定位*/
.nav-1 {
    top: -34px;
    right: 204px;
}
.nav-2{
    top: -34px;
    right: 102px;
}
.nav-3{
    right: 0;
    top: -34px;
}



/* 底部精灵图 */
.spirit-icon{
    background: url(../images/footer_bg.png) no-repeat;
    width: 138px;
    height: 52px;
    
}















