/* 头部区域 */

/* 顶部黑色边栏 */
#header .black-bar{
    background: #101010;
    line-height: 28px;
    color: #fff;
    margin-bottom: 4px;
}

#header .black-bar .topbar span {
    display: block;
    float: right;
    margin-right: 10;
    margin-right: 10px;
}
#header .black-bar .topbar>a{
    margin-left:206px; 
    color: #fff;
}
#header .black-bar .topbar span a {
    color: #f60;
    text-decoration: none;
}

/* 搜索框 */
#header .search {
    width: 440px;
    height: 36px;
    background-color: #ffffff;
    border: solid 2px #ff6600;
    box-sizing: border-box;
    margin-left: 515px;
}
#header .search button{
    width: 48px;
	height: 33px;
	background-color: #ff6600;
    border: none;
    outline-style: none;
}
#header .search button i{
    color: #fff;
    width: 24px;
    height: 24px;
    font-weight: bold;
}
#header .search input{
    width: 388px;
    border: none;
    height: 32px;
    text-indent: 6px;
    font-size: 16px;
    font-family: SimHei;
    outline-style: none;
    line-height: 32px;
}

/* 顶部搜索框 */
#header .top-search{
    position: fixed;
    background-color: rgba(255,123,0,.8);
    width: 100%;
    top: 0;
    z-index: 102;
    padding: 7px 0;
    box-sizing: border-box;
    display: none;
}
#header .top-search span {
    display: block;
    float: left;
    height: 24px;
    color: #fff;
    margin-left: 287px;
    line-height: 30px;
    font-size: 30px;
}
#header .top-search span>img{
    height: 40px;
}
#header .top-search>.search{
    margin-right: 350px;
    margin-left: 0;
}
#header .top-search>.search>button{
    background: #fa3a04;
}




/* 购物车 */
#header .shopping{
    width: 200px;
    margin-right: 9px;
}
#header .shopping .cart {
    width: 100px;
	height: 36px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    position: relative;
}
#header .shopping .cart a{
    color: #fff;
    text-decoration: none;
}
#header .shopping .cart:hover .cart-info{
    display: block;
}
#header .shopping .cart i{
    font-size: 21px;
}
#header .shopping .order{
    width: 100px;
    height: 36px;
    font-size: 16px;
    color: #808080;
    text-align: center;
    line-height: 34px;
	background-color: #ebebeb;
    border: solid 1px #cccccc;
    box-sizing: border-box;
}

/* 购物车下拉菜单 */
.cart-info {
	width: 310px;
	position: absolute;
	right: 0px;
	top: 36px;
	border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 2;
    line-height: 70px;
    color: #000;
}

/* 导航栏 */
#header .nav {
    margin-left: 300px;
    margin-top: 20px;
}
#header .nav li {
    float: left;
    line-height: 23px;
    margin-right: 30px;
}
#header .nav li a{
    text-decoration: none;
    color: #000;
    font-family: SimHei;
    color: #323232;
    font-size: 16px;
}



/* 左侧菜单栏 */
#menu>.menu-logo{
    background: #f60;
    width: 200px;
    height: 113px;
    position: absolute;
    text-align: center;
    top: 0;
}
#menu>.menu-logo>div{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 15px;
}
#menu>.menu-logo>span{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
}

/* 菜单列表 */
/* 一级菜单 */
#menu>.main-menu{
    width: 200px;
    height: 430px;
    background-color: #f3f3f3;
    position: relative;
    box-sizing: border-box;
}
#menu>.main-menu>li{
    line-height: 28px;
   
    
}
#menu>.main-menu>li>.list-menu{
    text-indent: 19px;
    border: 1px solid #f3f3f3;
    width: 200px;
    box-sizing: border-box;
    
    
}
#menu>.main-menu>li:hover .list-menu {
     position: relative;
     width: 200px;
     z-index: 20;
     background-color: #fff;
     border: 1px solid #f60;
     border-right: 0;
     box-sizing: border-box;
   
}
#menu>.main-menu>li:hover>.subMenu{
    display: block;
}
#menu>.main-menu>li:hover .list-menu a{
    color: #f60;
}




#menu>.main-menu>li>.list-menu>a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
}

/* 二级菜单 */
#menu>.main-menu>li>.subMenu{
    width: 578px;
    height: 492px;
    background: #fff;
    border: 1px solid #f60;
    position: absolute;
    top: 0px;
    left: 199px;
    box-sizing: border-box;
    padding-left: 36px;
    padding-right: 69px;
    z-index: 10;
}
#menu>.main-menu>li>.subMenu{
    text-indent: 0;
    display: none;
}
#menu>.main-menu>li>.subMenu>ol h1{
    border-bottom: 2px solid #e6e6e6;
    color: #f60;
    font-size: 14px;
}
#menu>.main-menu>li>.subMenu>ol>li>a{
    font-size: 13px;
    color: #262626;
}
#menu>.main-menu>li>.subMenu>ol{
    line-height: 26px;
}
#menu>.main-menu>li>.subMenu>.menu-title>a{
    font-size: 12px;
    margin-right: 11px;
    color: #323232;
}


/* banner区域 */
#banner>.slider{
    width: 1000px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
#banner>.slider>ul{
    width: 8000px;
    height: 400px;
    position: relative;
    left: -1000px;
}
#banner>.slider>ul>li img{
    width: 1000px;
    height: 400px;
}
#banner>.slider>ul>li{
    float: left;
}



/* 轮播按钮 */
#banner .controls>li{
    width: 24px!important;
	height: 24px!important;
    background-color: #d8d8d8;
    border-radius: 50%!important;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    float: left;
    margin-right: 13px;
    cursor: pointer;
    color: #fefefe;
}
#banner .controls>li:last-child{
    margin-right: 0!important;
}
.main-banner .controls{
    /* bottom: -30px!important; */
    width: 210px!important;
    margin-top: 3px;
    height: 24px!important;
}


/*右边弹出框  */
.voucher{
    position: fixed;
    top: 212px;
    right: 0;
    width: 40px;
    height: 180px;
    z-index: 100;
}
.voucher .voucher-top{
    width: 40px;
	height: 40px;
	background-color: #ffda0d;
}
.voucher .voucher-bottom{
    width: 40px;
	height: 40px;
    background-color: #666666;
    text-align: center;
    position: relative;
    
}
.voucher .voucher-bottom span{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: #ff1e00;
    position: absolute;
    top: 4px;
    left: 1px;
   
}
.voucher .voucher-bottom>img{
    margin-top: 15px;
}
.voucher .voucher-center{
    height: 100px;
    width: 40px;
    background: #f60;
    font-size: 20px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 11px;
    box-sizing: border-box;
}
.voucher .voucher-center .qr-code{
    position: absolute;
    text-align: center;
    left: -100px;
    top: 40px;
    width: 100px;
    height: 100px;
    background: #f60;
    padding-top: 13px;
    box-sizing: border-box;
    display: none;
}

/* 右侧楼层跳转 */
    .fixedmeau{
        position: fixed;
        top: 130px;
        left: 27px;
        z-index: 15;
        width: 40px;
        height: 200px;
        
    }
    .fixedmeau .icon1{
        background-position: 0 0 ;
        vertical-align: center;

        
    }
    .fixedmeau .icon2{
        background-position:  0 -40px ;
    }
    .fixedmeau .icon3{
        background-position: -0px -160px ;
    }
    .fixedmeau .icon4{
        background-position: -0px -200px ;
        vertical-align: center;

    }
    .fixedmeau .icon5{
        background-position: -0px -320px ;
        vertical-align: center;
    }
    .iconfloor{
        background: url(../images/123.png) no-repeat;
        width: 40px;
        height: 40px;
    }
    .fixedmeau span{
        color: #fff;
        font-size: 16px;
        display: inline-block;
        text-align:center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        background-color: #93d46f;
        position: absolute;
        top: 0;
        right: -40px;
        display: none;

    }
    .fixedmeau li{
        height: 40px;
        position: relative;
        
    }
    .fixedmeau li i {
        width: 40px;
        height: 40px;
        background-color: #f2f2f2;
        display: inline-block;
    }
    .fixedmeau li:hover i{
        background-color: #93d46f;
    }
    .fixedmeau li:hover span{
        display: block;
    }


























/* 主要内容 */
/* 今日推荐 */
#main-recommend{
    margin-top: 13px;
}
#main-recommend>span{
    margin-left: 17px;
}

#main-recommend .bgc{
    width: 1190px;
    margin: 0 auto;
}
#main-recommend .bgc li{
    width: 196px;
    height: 246px;
    background-color: #fff;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
    padding: 0 7px;
}
#main-recommend .bgc li p>a{
    font-size: 14px;
    color: #333;
    line-height: 16px;
}
#main-recommend .bgc li img {
   display: block;
   margin: 0 auto;
}
#main-recommend .bgc li p:last-of-type{
    color: #f60;
    font-size: 14px;
}
#main-recommend .bgc li span {
    font-size: 24px;
    color: #f4290d;
    line-height: 32px;
}
/* 限时抢 */
#main-recommend .bgc li .tag{
    color: #fff;
    width: 73px;
    line-height: 24px;
    font-size: 16px;
    background-color: #f4290d;
    position: relative;
    left: -9px;
    box-sizing: border-box;
    padding-left: 9px;
}
#main-recommend .bgc li .tag::after{
    content: '';
    border: 12px solid;
    height: 0;
    border-color:  transparent #fff transparent transparent;
    position: absolute;
    right: 0;
}

/* 书籍板块 */

#main-book .list-line{
    width: 904px;
}
#main-book {
    margin-top: 35px;
}
#main-book>.bgc-book .book-left{
    background: url(../images/书籍/book.jpg) no-repeat;
}
/* 左边内容 */
.book-left{
    width: 238px;
    height: 436px;
    background-size: cover;
    position: relative;
    margin-right: 2px;
}
.book-left .book-menu {
    background: #f9f9f9;
    position: absolute;
    bottom: 0;
}
.book-left .book-menu li{
    float: left;
    width: 79px;
    text-indent: 4px;
    line-height: 36px;
}
.book-left .book-menu li a {
    font-size: 14px;
    color: #333;
    font-family: SimHei;
}

/* 中间内容 */
#main-book .bgc-book{
    width: 904px;
    display: none;
    position: relative;
}

#main-book  .book-list{
    width: 664px;
}
#main-book  .book-list>li{
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}
#main-book  .book-list>li>img{
        width: 164px;
        height: 216px;
}
#main-book  .book-list > li:first-child{
    position: relative;
}
#main-book  .book-list > li:first-child .pptbox img{
    width: 330px;
    
}
/* 轮播图按钮距底部距离 */
#main-book  .book-list>li:first-child .controls{
    bottom: 3px !important;
}
#main-book  .book-list>li:first-child .controls li{
    margin-right: 1px;
}







/* 左侧手风琴效果 */

#main-book .bgc-book>.accordion{
    width: 284px;
	height: 442px;
	/* background-color: #f60; */
	border: solid 2px #e5e5e5;
    box-sizing: border-box;
    padding-top: 7px;
    position: absolute;
    right: -294px;
    top: -6px;
}
#main-book .bgc-book>.accordion>span{
	font-family: SimHei;
	font-size: 24px;
    color: #808080;
    display: block;
    text-align: center;
    margin-bottom: 7px;
}

#main-book .bgc-book>.accordion>dl>dd>img{
    vertical-align: top
}
#main-book .bgc-book>.accordion>dl>dd>div{
    width: 108px;
    margin-top: 3px;
}
#main-book .bgc-book>.accordion>dl>dd{
    font-size: 14px;
    color: #404040;
    margin-left: 22px;
    position: relative;
    display: none;
}
#main-book .bgc-book>.accordion>dl>dd:first-of-type{
    display: block;
}
#main-book .bgc-book>.accordion>dl>dt{
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    margin-left: 22px;
    color: #4d4d4d;
    position: relative;
    text-indent: 9px;
    cursor: pointer;
}
#main-book .bgc-book>.accordion>dl>dt:not(:last-of-type){
    border-bottom: 2px solid #e6e6e6;
}
#main-book .bgc-book>.accordion>dl>dd:not(:last-of-type){
    border-bottom: 2px solid #e6e6e6;

}
#main-book .bgc-book>.accordion>dl>dt:first-of-type{
    display: none;
}
#main-book .bgc-book>.accordion>dl span{
    position: absolute;
    display: inline-block;
    left: -7px;
    top: 0;
}
#main-book .bgc-book>.accordion>dl>dt>span{
    left:-17px;
}













/* 童装 户外运动 服装 */
#main-sports,
#main-baby,
#main-clothes{
    margin-top: 60px;
}
#main-clothes .left{
        background: url(../images/女装内衣/2018.jpg)
}
#main-sports .left{
    background: url(../images/女装内衣/baby.jpg) no-repeat;
}
#main-baby .left{
    background: url(../images/儿童服装/child.jpg) no-repeat;

}

/* 公共样式 */
/* 左侧 */
.left{
    width: 238px;
    height: 502px;
    background-size: cover;
    position: relative;
}
.left .menu {
    background: #f9f9f9;
    position: absolute;
    bottom: 0;
}
.left .menu li{
    float: left;
    width: 79px;
    text-indent: 4px;
    line-height: 36px;
}
.left .menu li a {
    font-size: 14px;
    color: #333;
    font-family: SimHei;
}

/* 中间 */
.center>.pptbox {
    width: 425px;
    height: 340px;
    position: relative;
    font-size: 0;
    margin-bottom: 2px;
}
.center .pptbox img{
    width: 425px;
    height: 340px;
}
/* 轮播按钮距离底部的距离 */
.center>.pptbox .controls{
    bottom: 3px !important;
}
.center>.pptbox .controls li{
    margin-right: 1px;
}

/* 左右按钮 */ 

 .box-left,
 .box-right{
    opacity: 0.2;
    position: absolute;
    width: 36px;
    height: 70px;
    background-color: #000000;
    text-align: center;

}
 .icon-left,
 .icon-right{
    color: #fff;
    font-size: 28px;
    opacity: 0.8;  
    line-height: 70px;

}
 .box-left{
    left: 0;
    top: 50%;
    margin-top: -35px;
}
 .box-right{
    right: 0;
    top: 50%;
    margin-top: -35px;

}
.center .banner img{
    width: 425px;
    height: 158px;
}
/* 右侧 */
.left,
.center{
    margin-right: 2px;
}
.right{
    display: none;
}
.right:first-of-type{
    display: block;
}
.right>ul {
    width: 533px;
    margin-bottom: 2px;
}
.right ul li{
    float: left;
    margin-right: 2px;   
}
.right .pic1 li:last-child img{
   width: 177px;
}
.right .pic2 li:last-child img{
    width: 177px;
}
.right .pic1 li img{
    width: 175px;
    height: 340px;
}
.right .pic2 li img{
    width: 175px;
    height: 158px;
}
/* 下部logo */
 .brand-logo a{
    margin-right: 19px;
 }



/* 家居 */
#main-home{
    margin-top: 60px;
}
#main-home .bgc-ccc{
    background-color: #ccc;
    margin-bottom: 55px
}
#main-home .bgc-ccc .home-left img{
    width: 484px;
    height: 498px;
    margin: 0 2px;
}
#main-home .bgc-ccc .home-right-1 li{
    background-color: #fff;
    height: 338px;
    float: left;
    margin-right: 2px;
}
#main-home .bgc-ccc .home-right-1 li img{
    width: 176px;
    height: 278px;
}
#main-home .bgc-ccc .home-right-2 li{
    background-color: #fff;
    float: left;
    margin-right: 2px;
}
#main-home .bgc-ccc .home-right-2 li img{
    width: 176px;
    height: 158px;
}
#main-home .bgc-ccc .home-right-2,
#main-home .bgc-ccc .home-right-1{
    margin-bottom: 2px;
}

/* 推广商品 */
/* 滑块 */
#main-goods .goods-slider{
    position: relative;
}
#main-goods .goods-slider>li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: left;
    background-color: #bfbfbf;
}
#main-goods .goods-slider .slider1{
    top: -17px;
    position: absolute;
    right: 39px;
}
#main-goods .goods-slider .slider2{
    top: -17px;
    position: absolute;
    right: 17px;
}
/* 列表tab切换 */


#main-goods .outbox{
    width: 1200;
    height: 636px;
    overflow: hidden;
}
#main-goods .outbox .innerbox{
    width: 2400px;
    height: 636px;
    position: relative;
    left: 0;
}
#main-goods ul{
    padding: 10px 14px 0;
}
#main-goods ul>li{
    padding: 25px 32px 0;
    width: 150px;
    height: 275px;
    float: left;
    margin-right: 25px;
    margin-bottom: 13px;
}
#main-goods ul>li:hover{
    background-color: #f2f2f2;

}
#main-goods ul>li:nth-child(5n){
    margin-right: 0;
}
#main-goods ul>li img{
    display:block;
    margin: 0 auto;
}

#main-goods ul>li span{
    font-size: 24px;
    color: #f4290d;
}
#main-goods ul>li p{
    margin: 10px 0 0 10px;
}
#main-goods ul>li span {
    margin-left: 11px;
    line-height: 40px;
}
#main-goods ul>li>div{
    margin-left: 10px;
    color: #747474;
    font-size: 14px;
}
#main-goods ul>li>div a {
    text-decoration: none;
     color: #e30c02;
}
#main-goods ul>li>div i{
    color:#cccccc;
}

/* 底部页脚 */
/* 精灵图 */
.last-line{
    width: 100%; 
    position: relative; 
}
.spirit{
    background-color: #f2f2f2;
    padding: 24px 280px 18px;
}
.spirit li{
    float: left;
    margin-right:79px; 
}
.spirit li:last-child{
    margin-right: 0;
}
.spirit .icon-1{
    background-position: 0 0 ;
}
.spirit .icon-2{
    background-position: 0 -52px ;
}
.spirit .icon-3{
    background-position: 0 -104px ;
}
.spirit .icon-4{
    background-position: 0 -156px ;
}
/* 返回顶部 */
.goTop{
    width: 30px;
    height: 50px;
    font-size: 16px;
    color:#fff;
    background-color: #999;
    position: fixed;
    text-align: center;
    bottom: 100px;
    left: 50%;
    margin-left: 600px;
    box-sizing: border-box;
    padding-top: 8px;
    font-family: SimHei;
    cursor: pointer;
    display: none;
}

/* 页脚部分 */

#footer{
    margin-top: 35px;
}
#footer .foot-list>ul{
    float: left;
    width: 165px;
    text-align: center;

}
#footer .foot-list>ul>li{
    line-height: 28px;
    color: #000;
    font-family: SimHei;
}
#footer .foot-list>ul>li:first-child{
    font-size: 18px;
}
#footer .foot-list>ul>li a {
    color: #4d4d4d;
    font-size: 15px;
    
}
#footer .foot-list{
    padding-left: 190px;
}
#footer .foot-list .foot-logo{
    margin-top: 30px;
}

#footer .foot-link>a{
    color: #333;
    font-size: 14px;
    display: inline-block;
    border-right: 1px solid #333;
    line-height: 14px;
    padding: 0 18px;
}
#footer .foot-link>a:last-child{
    border: 0;
}
#footer .foot-link{
    text-align: center;
    margin-top: 46px;
}

