/* 头部区域 */

/* 顶部黑色边栏 */
#header .black-bar{
    background: #101010;
    line-height: 28px;
    color: #fff;
    margin-bottom: 4px;
}

#header .black-bar .topbar{
    position: relative;
}
#header .black-bar .topbar .header-logo{
    position: absolute;
    top: 0;
    left: 0;
}
#header .black-bar .topbar .header-logo img{
    width: 258px;
	height: 105px;
}

#header .black-bar .topbar span {
    display: block;
    float: right;
    margin-right: 10;
    margin-right: 10px;
}
#header .black-bar .topbar>a{
    margin-left:265px; 
    color: #fff;
}
#header .black-bar .topbar span a {
    color: #f60;
    text-decoration: none;
}
#header>p {
    font-size: 30px;
    color: #666666;
    margin-left: 360px;
    margin-top: 10px;
}
#header{
    height: 105px;
}


/*登录 */

.content{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 500px;
    padding-top: 65px;
}
.content .login{
    padding-top: 19px;
    width: 350px;
	height: 370px;
    background-color: #ffffff;
    margin-left: 749px;
    box-sizing: border-box;
    text-align: center;
}
.content .login .login-method{
    text-align: center;
    width: 350px;
    height: 35px;
    border-bottom: 1px solid #f6f6f6;
}
.content .login .login-method .login-code{
    font-size: 22px;
    padding-right: 40px;
    color: #666666;
    border-right: 1px solid #f6f6f6;
}
.content .login .login-method .account-login{
    font-size: 22px;
    color: #666666;
    padding-left: 40px;
}
.content .login .qr-code span:first-of-type{
    margin-left: 29px;
    margin-bottom: 42px;
    position: absolute;
    left: 0;
    top: 66px;
}
.content .login .qr-code{
    width: 350px;
    height: 314px;
    padding-top: 55px;
    position: relative;
}
.content .login .qr-code span:last-of-type{
    margin-left: 172px;
}
.content .login  p{
    font-size: 14px;
    color: #666666;
    position: absolute;
    top: 254px;
    right: 85px;
}

.content .account{
    width: 350px;
    height: 314px;
    padding-top: 42px;
    box-sizing: border-box;
    margin: 0 auto;
}
.content .login .register{
    display: none;
}

/* 登陆 */
.content .account .login-account input,
.content .account .psd input{
    text-indent: 45px;
    width: 288px;
    height: 38px;
    border: 1px solid #bfbfbf;
    font-size: 20px;
}

.content .account  i{
    display: inline-block;
    line-height: 38px;
    color: #cfcfcf;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    position: absolute;
}
.content .account .login-account{
    position: relative;
    width: 240px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: 17px;
}
.content .account .login-account span{
    position: absolute;
    top: 11px ;
    right: -45px;
    font-size: 18px;
    color: #eaeaea;
    display: none;
}
.content .account .psd span{
    position: absolute;
    top: 11px ;
    right: -45px;
    font-size: 18px;
    color: #eaeaea;
    display: none;
}
.content .account .login-account i{
    top: 1px;
    left: 1px;
}
.content .account .psd{
    position: relative;
    width: 240px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: 14px;
}
.content .account .psd i{
    top: 1px;
    left: 1px;
}
/* 自动登陆&忘记密码 */
.content .account ul li{
    font-size: 14px;
    color: #4d4d4d;

}
.content .account ul{
    width: 280px;
    margin: 0 auto;
   margin-bottom: 30px;
}
    
.content .account ul li a{
    color: #4d4d4d;
}
.content .account button{
    width: 290px;
    height: 40px;
    border: none;
    background-color: #f60;
    color: #fff;
    font-size: 22px;
    outline-style: none;
}
.content .account span.right{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #e2373d;
    color: #fff;
    text-align: center;
    line-height: 16px;
}
.content .account .immediately{
    border-top: 1px solid #e6e6e6;
    margin-top: 28px;
    font-size: 20px;
    color: #ff6602;
    line-height: 45px;
}























/* 尾部 */
#footer .foot-link>a{
    color: #333;
    font-size: 14px;
    display: inline-block;
    border-right: 1px solid #333;
    line-height: 14px;
    padding: 0 18px;
}
#footer .foot-link>a:last-child{
    border: 0;
}
#footer .foot-link{
    text-align: center;
    margin-top: 46px;
}
#footer .copyright p{
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 23px;
}