/* 
乐购商城产品列表

*/
/* 头部区域 */

/* 顶部黑色边栏 */
#header .black-bar{
    background: #101010;
    line-height: 28px;
    color: #fff;
    margin-bottom: 4px;
}

#header .black-bar .topbar span {
    display: block;
    float: right;
    margin-right: 10;
    margin-right: 10px;
}
#header .black-bar .topbar>a{
    margin-left:206px; 
    color: #fff;
}
#header .black-bar .topbar span a {
    color: #f60;
    text-decoration: none;
}

/* 搜索框 */
#header .search {
    width: 440px;
    height: 36px;
    background-color: #ffffff;
    border: solid 2px #ff6600;
    box-sizing: border-box;
    margin-left: 515px;
}
#header .search button{
    width: 48px;
	height: 33px;
	background-color: #ff6600;
    border: none;
    outline-style: none;
}
#header .search button i{
    color: #fff;
    width: 24px;
    height: 24px;
    font-weight: bold;
}
#header .search input{
    width: 388px;
    border: none;
    height: 32px;
    text-indent: 6px;
    font-size: 16px;
    font-family: SimHei;
    outline-style: none;
    line-height: 32px;
}

/* 顶部搜索框 */
#header .top-search{
    position: fixed;
    background: #ff7619;
    width: 100%;
    top: 0;
    z-index: 102;
    padding: 7px 0;
    box-sizing: border-box;
    display: none;
}
#header .top-search span {
    display: block;
    float: left;
    height: 24px;
    color: #fff;
    margin-left: 287px;
    line-height: 30px;
    font-size: 30px;
}
#header .top-search span>img{
    height: 40px;
}
#header .top-search>.search{
    margin-right: 350px;
    margin-left: 0;
}
#header .top-search>.search>button{
    background: #fa3a04;
}




/* 购物车 */
#header .shopping{
    width: 200px;
    margin-right: 9px;
}
#header .shopping .cart {
    width: 100px;
	height: 36px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    position: relative;
}
#header .shopping .cart:hover .cart-info{
    display: block;
}
#header .shopping .cart i{
    font-size: 21px;
}
#header .shopping .order{
    width: 100px;
    height: 36px;
    font-size: 16px;
    color: #808080;
    text-align: center;
    line-height: 34px;
	background-color: #ebebeb;
    border: solid 1px #cccccc;
    box-sizing: border-box;
}

/* 购物车下拉菜单 */
.cart-info {
	width: 310px;
	position: absolute;
	right: 0px;
	top: 36px;
	border: 1px solid #ccc;
    background-color: #fff;
    display: none;
    z-index: 2;
    line-height: 70px;
    color: #000;
}

/* 导航栏 */
#header .nav {
    margin-left: 300px;
    margin-top: 20px;
}
#header .nav li {
    float: left;
    line-height: 23px;
    margin-right: 30px;
}
#header .nav li a{
    text-decoration: none;
    color: #000;
    font-family: SimHei;
    color: #323232;
    font-size: 16px;
}


/* banner-images区域 */
.banner{
    height: 430px;
}
.banner>.banner-images .slider{
    width: 1000px;
    height: 400px;
    background-color: red;
    position: relative;
    
}
.banner-images>.slider>ul>li img{
    width: 1000px;
    height: 400px;
}
.banner-images>.slider>ul>li{
    position: absolute;
    display: none;
}
.banner-images>.slider>ul>li:first-child{
    display: block;
}
.banner>.banner-images .slider .nav-logo{
    position: absolute;
    top: -112px;
    width: 200px;
    height: 112px;
}
.banner>.banner-images .slider .nav-logo span{
    background-color: #93d46f;
    width: 200px;
    line-height: 37px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.small-banner{
    margin-bottom: 24px;
}




/* 左右箭头 */
.banner-images>.slider>.arrow>i{
    width: 36px;
	height: 70px;
	background-color: #000000;
    opacity: 0.4;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.banner-images>.slider>.arrow .arrow-left{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
}
.banner-images>.slider>.arrow .arrow-right{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -35px;
}
.banner-images>.slider>.arrow{
    display: none;
}
.banner-images>.slider:hover .arrow{
    display: block;
}

/* 轮播按钮 */
.banner-images>ul>li{
    width: 24px;
	height: 24px;
    background-color: #d8d8d8;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    float: left;
    margin-right: 11px;
    cursor: pointer;
}
.banner-images>ul{
    margin-top: 3px;
    margin-left: 396px;
    display: none;
}
.banner-images{
    width: 1000px;
}
/* 手风琴 */
.banner .accordion {
    width: 200px;
    height: 430px;
}
.banner .accordion>span{
    display: block;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-indent: 9px;
    font-size: 18px;
    background-color: #93d46f;
}
.banner .accordion>.book-list>li .book-img img{
    width: 100px;
    height: 100px;
}
.banner .accordion>.book-list> li .book-introduce{
    width: 100px;
    font-size: 14px;
    color: #333;
}
.banner .accordion>.book-list li{
    height: 5px;
    overflow: hidden;
}
.banner .accordion>.book-list>li{
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #b3b3b3;
    background-color: #fff;
    z-index: 0;
}
.banner .accordion>.book-list>li:nth-child(1){
    height: 100px;
}


.banner .accordion>.book-list>li .num{
    position: absolute;
    top: 0;
    width: 20px;
	height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #b3b3b3;
    right: 0;
}
.small-banner{
    position: relative;
    z-index: 1;
}

/* 乐购图书折扣区 */
.book-discount .topline{
    background-color: #f60;
    color: #fff;
    font-size: 24px;
    height: 47px;
    display: inline-block;
    line-height: 47px;
    width: 220px;
    text-align: center;
}
.book-discount ul li{
    float: left;
    width: 210px;
	height: 258px;
    margin-right: 37px;
}
.book-discount ul li:nth-child(5n){
    margin-right: 0;
}
.book-discount ul li .tag{
    color: #fff;
    width: 73px;
    line-height: 24px;
    font-size: 16px;
    background-color: #f4290d;
    position: relative;
    left: 0px;
    box-sizing: border-box;
    padding-left: 20px;
}
.book-discount ul li .tag::after{
    content: '';
    border: 12px solid;
    height: 0;
    border-color:  transparent #fff transparent transparent;
    position: absolute;
    right: 0;
}
.book-discount ul li>.introduce .score i{
    font-size: 18px;
    color: #666;
    /* color: #feef00; */
    letter-spacing: -4px;
}

.book-discount ul li .book-images{
    text-align: center;
    width: 210px;
}
.book-discount ul li .introduce .title a{
    font-size: 14px;
    color: #ccc;
}
.book-discount ul li .introduce p{
    text-indent: 7px;
    line-height: 24px;
}
.book-discount ul li .introduce span{
    margin-left: 5px;
    color: #f4290d;
    font-size: 24px;
}
.book-discount ul li .introduce .del{
    margin-left: 6px;
    color: #c0c0c0;
    display: none;
}
.book-discount ul li:hover{
    background-color: #f2f2f2;
}

/* 新书上架 */
.new-book{
    height: 500px;
    margin-top: 31px;
    margin-bottom: 94px;
}
.new-book .book-title{
    font-size: 22px;
    color: #333;
    letter-spacing: 1px;
}
.new-book .book-title span{
    display: inline-block;
    height: 38px;
    width: 42px;
    background-color: #f60;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    margin-right: 3px;
}
.new-book .book-content .line{
    width: 904px;
}
.new-book .book-content .book-left{
    border: 2px solid #e6e6e6;
    width: 904px;
    height: 498px;
    box-sizing: border-box;
    border-top: 0;
    padding:18px 6px 18px 11px;
}
.new-book .book-content ul li{
    width: 170px;
    height: 220px;
    float: left;
    margin-right: 8px;
}
.new-book .book-content ul li>div{
    width: 170px;
    text-align: center;
}
.new-book .book-content ul li p:first-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #333;
}
.new-book .book-content ul li p:last-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #808080;
    line-height: 26px;
}
.new-book .book-content ul li span{
    font-size: 18px;
    color: #f91616;
    margin-left: 11px;
}
.new-book .book-content ul li span.del{
    margin-left: 10px;
    color: #b3b3b3;
}

.new-book .book-content ul li.top-list{
    margin-top: 24px;

}
.new-book .book-content ul li:nth-child(5n){
    margin-right: 0;
}

/* 右侧手风琴效果 */
.new-book .book-content{
    position: relative;
}
.new-book .book-content .book-right{
    height: 504px;
    width: 284px;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
}
.new-book .book-content .book-right>span{
    font-size: 28px;
    color: #808080;
    display: block;
    width: 280px;
    text-align: center;
    margin-bottom: 8px;
}
.new-book .book-content .book-right .book-list dd img{
    vertical-align: top;
}
.new-book .book-content .book-right .book-list dd div{
    width: 108px;
    height: 145px;
    margin-top: 3px;
}
.new-book .book-content .book-right .book-list dd{
    font-size: 14px;
    color: #404040;
    margin-left: 22px;
    position: relative;
    display: none;
}
.new-book .book-content .book-right .book-list dd:first-of-type{
    display: block;
}
.new-book .book-content .book-right .book-list dt{
    font-size: 16px;
    line-height: 41px;
    margin-left: 22px;
    color: #4d4d4d;
    position: relative;
    text-indent: 9px;
    cursor: pointer;
}

.new-book .book-content .book-right .book-list>dt:not(:last-of-type){
    border-bottom: 2px solid #e6e6e6;
}
.new-book .book-content .book-right .book-list>dd:not(:last-of-type){
    border-bottom: 2px solid #e6e6e6;

}
.new-book .book-content .book-right .book-list>dt:first-of-type{
    display: none;
}
.new-book .book-content .book-right .book-list span{
    position: absolute;
    display: inline-block;
    left: -9px;
    top: 0;
    font-size: 16px;
}
.new-book .book-content .book-right .book-list>dt>span{
    left:-17px;
}

/* 独家提供 */
.privision .privision-title>span{
    display: inline-block;
    width: 42px;
    height: 38px;
    background-color: #f60;
    vertical-align: bottom;
    line-height: 38px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin-right: 4px;
}
.privision .privision-title{
    font-size: 22px;
    color: #333;
}
.privision .privision-nav{
    margin-top: 4px;
}
.privision .privision-nav>li{
    float: left;
    width: 98px;
    height: 34px;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
}
.privision .privision-content{
    position: relative;
    width: 1200px;
    height: 532px;
    /* background-color: red; */
    border-bottom:2px solid #e6e6e6;
}

/*tab切换盒子 */
/* 激活类 */
.resemble{
    background-color: #f60;
    color: #fff!important;
    
}
.privision .privision-content .outbox{
    width: 1200px;
    height: 534px;
    overflow: hidden;
}
.privision .privision-content .outbox .innerbox{
    width: 8400px;
    height: 534px;
    position: relative;
    left: 0;
}

.privision .privision-content .recommend-book>li{
    width: 170px;
    height: 220px;
    float: left;
    
}
.privision .privision-content .recommend-book{
    padding: 16px 37px 54px 30px;
    width: 1200px;
    height: 534px;
    box-sizing: border-box;
    float: left
    
}
.privision .privision-content .recommend-book>li>div{
    text-align: center;
    width: 170px;
}
.privision .privision-content .recommend-book li p:first-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #333;
}
.privision .privision-content .recommend-book li p:last-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #808080;
    line-height: 26px;
}
.privision .privision-content .recommend-book li span{
    font-size: 18px;
    color: #f91616;
    margin-left: 11px;
}
.privision .privision-content .recommend-book li span.del{
    margin-left: 10px;
    color: #b3b3b3;
}
.privision .privision-content .recommend-book li{
    margin-right: 22px;
}
.privision .privision-content .recommend-book .top-list{
    margin-top: 24px;
}
.privision .privision-content .recommend-book li:nth-child(6n){
    margin-right: 0px;
}


/* 左右按钮 */
.privision .privision-content .btn-arrow .btn-right{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -85px;

}

.privision .privision-content .btn-arrow i{
    width: 36px;
    height: 70px;
    background-color: #000000;
    opacity: 0.4;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.privision .privision-content .btn-arrow .btn-left{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -85px;
}

/* 轮播按钮 */
.privision .privision-content>.slider-ball>li{
    float: left;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 15px;
}
.privision .privision-content>.slider-ball{
    position: absolute;
    bottom: 13px;
    margin-left: 495px;
   
}

/* 猜你喜欢 */
.guess{
    margin-top: 40px;
}
.guess .guess-top .next-guess{
    margin-top: 10px;
}
.guess .guess-top .next-guess a{
    font-size: 18px;
    color: #468bfd;
    text-decoration: none;
}
.guess .guess-title>span{
    display: inline-block;
    width: 42px;
    height: 38px;
    background-color: #f60;
    vertical-align: bottom;
    line-height: 38px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    margin-right: 4px;
}
.guess .guess-title{
    font-size: 22px;
    color: #333;
}
.guess .outbox{
    width: 1200px;
    height: 492px;
    overflow: hidden;
}
.guess .guess-content{
    position: relative;
    width: 4800px;
    height: 492px;
    left: 0;
    border-bottom:2px solid #e6e6e6;
}
.guess .guess-content>.recommend-book>li{
    width: 170px;
    height: 220px;
    float: left;
}
.guess .guess-content>.recommend-book{
    padding: 16px 37px 12px 30px;
    box-sizing: border-box;
    width: 1200px;
    height: 492px;
    
}
.guess .guess-content>.recommend-book>li>div{
    text-align: center;
    width: 170px;
}
.guess .guess-content>.recommend-book li p:first-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #333;
}
.guess .guess-content>.recommend-book li p:last-of-type{
    text-indent: 11px;
    font-size: 14px;
    color: #808080;
    line-height: 26px;
}
.guess .guess-content>.recommend-book li span{
    font-size: 18px;
    color: #f91616;
    margin-left: 11px;
}
.guess .guess-content>.recommend-book li span.del{
    margin-left: 10px;
    color: #b3b3b3;
}
.guess .guess-content>.recommend-book li{
    margin-right: 22px;
}
.guess .guess-content>.recommend-book .top-list{
    margin-top: 24px;
}
.guess .guess-content>.recommend-book li:nth-child(6n){
    margin-right: 0px;
}


/* 精选书籍 */
.selected-book>ul>li{
    float: left;
    margin-top: 31px;
    margin-bottom: 14px;
}
.selected-book>ul>li{
    width: 200px;
}


/* 底部页脚 */
/* 精灵图 */
.last-line{
    /* width: 100%;  */
    position: relative; 
}
.spirit{
    background-color: #f2f2f2;
    padding: 24px 280px 18px;
}
.spirit li{
    float: left;
    margin-right:79px; 
}
.spirit li:last-child{
    margin-right: 0;
}
.spirit .icon-1{
    background-position: 0 0 ;
}
.spirit .icon-2{
    background-position: 0 -52px ;
}
.spirit .icon-3{
    background-position: 0 -104px ;
}
.spirit .icon-4{
    background-position: 0 -156px ;
}

/* 页脚部分 */

#footer{
    margin-top: 35px;
}
#footer .foot-list>ul{
    float: left;
    width: 165px;
    text-align: center;

}
#footer .foot-list>ul>li{
    line-height: 28px;
    color: #000;
    font-family: SimHei;
}
#footer .foot-list>ul>li:first-child{
    font-size: 18px;
}
#footer .foot-list>ul>li a {
    color: #4d4d4d;
    font-size: 15px;
    
}
#footer .foot-list{
    padding-left: 190px;
}
#footer .foot-list .foot-logo{
    margin-top: 30px;
}

#footer .foot-link>a{
    color: #333;
    font-size: 14px;
    display: inline-block;
    border-right: 1px solid #333;
    line-height: 14px;
    padding: 0 18px;
}
#footer .foot-link>a:last-child{
    border: 0;
}
#footer .foot-link{
    text-align: center;
    margin-top: 46px;
}












